@page "/"

<h1><i class="bi bi-house-door-fill"></i> Village Rentals! <br />Rental Management System</h1>

<h2 class="mt-5 fs-4"><i class="bi bi-people-fill"></i>Customer Menu</h2>
<ul>
	<li><span class="fw-bold">Rental Application:</span> <br /> This menu is for registering rental equipments by customers.</li>
</ul>

<h2 class="mt-5 fs-4"><i class="bi bi-person-fill-gear"></i>Owner Menu</h2>
<ul>
	<li><span class="fw-bold">Rental Management:</span> <br /> This menu is for confirm and return rental equipments by administrator(business owner).</li>
	<li><span class="fw-bold">Customer Management:</span> <br /> This menu is for creating, updating and removing customer information  by administrator(business owner).</li>
	<li><span class="fw-bold">Equipment Management:</span> <br /> This menu is for creating, updating and removing equipment information  by administrator(business owner).</li>
	<li><span class="fw-bold">Category Management:</span> <br /> This menu is for creating, updating and removing category information  by administrator(business owner).</li>
	<li><span class="fw-bold">Reports:</span> <br /> This menu is for showing various reports, such as 'Sales by Rental Date', 'Sales by Rental Date', 'List items by Category' and 'Renting Customer List'</li>
</ul>
