@page "/report/salesByCustomer"

<h3>Report: Sales By Customer</h3>


<table class="table table-bordered">
	<thead>
		<tr>
			<th>Customer ID</th>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Sales</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var salesByCustomer in salesByCustomerList)
		{
			<tr>
				<td>@salesByCustomer.CustomerId</td>
				<td>@salesByCustomer.LastName</td>
				<td>@salesByCustomer.FirstName</td>
				<td>@salesByCustomer.Cost</td>
			</tr>
		}
	</tbody>
</table>